.header{
  padding-top: 12px;
  background-color: #fff;
}
.content{
  margin: 24px,16px;
  padding: 20px;
}



.Sider{
  height: 100vh;
  position: sticky !important;
  left: 0;
  bottom: 0;
  top: 0;
 

}
.logo{
  color: #4f6f52;
  margin: 40px ,0;
  font-size: 1.5rem;
 
}
.trigger-btn{
  font-size: 16px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
}
.menu-bar{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.ant-menu-item-selected{
  background-color: #4f6f52 !important;
  color: #fff !important;
}
.header-icon{
  background: #d2e3cb;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  color: #4f6f52;
  cursor: pointer;
}
.ant-btn:hover{
  color: #4f6f52;
  border-color: #4f6f52;
}
.ant-btn-primary{
  background-color: #4f6f52;
}
.ant-btn-primary:hover{
  background-color: #173a1a !important;
  color: #fff !important;
}
.primary--color{
  color: #4f6f52 !important;
}
.primary--light--color{
  color: #739072 !important;

}
.secondary--color{
  color: #86a789;
}
.light--color{
  color: #d2e3c8;
}
.gray--color{
  color: rgb(182, 181, 181);
}

.plant-card{
  flex: 1;
  height: 250px;
  text-align: center;
}